In [5]:
##import libraries
import pandas as pd
import json
import glob
import datetime

In [6]:
pwd

'/home/dell/Documents/datawarehouse/plugins'

In [7]:
import pandas as pd
import json
import glob

class LoadInvoice:
    def __init__(self):
        print("Object created.")
        
    def read_invoices(self, year, month, day):
        print(year, month, day)
        
        list_data = []
        
        for file in glob.glob("invoices/d{}-{}-{}/*.json".format(str(year), str(month), str(day))):
            with open(file, 'r') as f:
                data = json.load(f)
                list_data.append(data)

        invoice_df = pd.DataFrame.from_records(list_data)
        print(invoice_df.shape[0])
        return invoice_df

In [8]:
year, month, day = 2022, 1, 1
invoice_df = LoadInvoice().read_invoices(year, month, day)

Object created.
2022 1 1
71

In [11]:
datetime.datetime(year, month, day).strftime('%Y-%m-%d')

'2022-01-01'

In [19]:
invoice_df['invoice_date'] = datetime.datetime(year, month, day).strftime('%Y-%m-%d')

In [20]:
invoice_df

,invoice_id,invoice_timestamp,customer_id,product_id,supplier_id,qty,is_discount,price,invoice_date
0,20220101-2,2022-01-01T21:28:17,swibheb5634,foklsur1276,jwsinnx2648,267,1,733.0752,2022-01-01
1,20220101-51,2022-01-01T21:53:00,svzgllt5401,dvssxuh1251,wawnwbo5987,29,0,1765.8100,2022-01-01
2,20220101-19,2022-01-01T21:50:10,nottbgn4122,hefregi2191,cgnxqgb5476,282,1,1629.1704,2022-01-01
3,20220101-30,2022-01-01T11:07:24,uhbbqdu3616,sfttoyz1408,soswcvy1158,292,0,15768.0000,2022-01-01
4,20220101-46,2022-01-01T22:26:16,nottbgn4122,audjgmq2873,cgnxqgb5476,232,1,12745.1520,2022-01-01
...,...,...,...,...,...,...,...,...,...
66,20220101-41,2022-01-01T03:56:36,hveyiwh2729,rbocmvi5431,xrxwaac1973,208,0,17636.3200,2022-01-01
67,20220101-8,2022-01-01T20:25:59,qvzhnwd1344,yucahky4380,soswcvy1158,272,1,4973.5200,2022-01-01
68,20220101-20,2022-01-01T13:05:22,raanvkb5566,foklsur1276,cgnxqgb5476,23,1,61.2352,2022-01-01
69,20220101-44,2022-01-01T10:04:56,qfyxyiq3514,audjgmq2873,wawnwbo5987,96,0,6592.3200,2022-01-01
70,20220101-45,2022-01-01T16:44:29,zxzvhxj2519,foklsur1276,soswcvy1158,191,0,794.5600,2022-01-01

In [21]:
from sqlalchemy import create_engine
import redshift_connector

In [22]:
conn = create_engine('postgresql://awsuser:Abex432505@tweet-data.ciyer0z3ifyd.us-east-2.redshift.amazonaws.com:5439/sales_dw')

In [23]:
invoice_df

,invoice_id,invoice_timestamp,customer_id,product_id,supplier_id,qty,is_discount,price,invoice_date
0,20220101-2,2022-01-01T21:28:17,swibheb5634,foklsur1276,jwsinnx2648,267,1,733.0752,2022-01-01
1,20220101-51,2022-01-01T21:53:00,svzgllt5401,dvssxuh1251,wawnwbo5987,29,0,1765.8100,2022-01-01
2,20220101-19,2022-01-01T21:50:10,nottbgn4122,hefregi2191,cgnxqgb5476,282,1,1629.1704,2022-01-01
3,20220101-30,2022-01-01T11:07:24,uhbbqdu3616,sfttoyz1408,soswcvy1158,292,0,15768.0000,2022-01-01
4,20220101-46,2022-01-01T22:26:16,nottbgn4122,audjgmq2873,cgnxqgb5476,232,1,12745.1520,2022-01-01
...,...,...,...,...,...,...,...,...,...
66,20220101-41,2022-01-01T03:56:36,hveyiwh2729,rbocmvi5431,xrxwaac1973,208,0,17636.3200,2022-01-01
67,20220101-8,2022-01-01T20:25:59,qvzhnwd1344,yucahky4380,soswcvy1158,272,1,4973.5200,2022-01-01
68,20220101-20,2022-01-01T13:05:22,raanvkb5566,foklsur1276,cgnxqgb5476,23,1,61.2352,2022-01-01
69,20220101-44,2022-01-01T10:04:56,qfyxyiq3514,audjgmq2873,wawnwbo5987,96,0,6592.3200,2022-01-01
70,20220101-45,2022-01-01T16:44:29,zxzvhxj2519,foklsur1276,soswcvy1158,191,0,794.5600,2022-01-01

In [24]:
invoice_df.to_sql('invoice_staging', conn, index=False, if_exists='replace')

In [25]:
product_dim = pd.read_csv('dimension/product_dim.csv')
display(product_dim)
product_dim.to_sql('product_dim', conn, index=False, if_exists='replace')

    product_sk   product_id        name
0            0  dvssxuh1251   product_0
1            1  pjvtshz2329   product_1
2            2  mltlnma2846   product_2
3            3  abakhyq1389   product_3
4            4  sfttoyz1408   product_4
5            5  scauiil1353   product_5
6            6  yucahky4380   product_6
7            7  rgfovid2671   product_7
8            8  rbocmvi5431   product_8
9            9  uwkquwp1464   product_9
10          10  hefregi2191  product_10
11          11  qqhmvor4288  product_11
12          12  edeoadu1293  product_12
13          13  xavevpo5762  product_13
14          14  qevykxy3738  product_14
15          15  zjncqcb4413  product_15
16          16  uhsnmlm1231  product_16
17          17  ffijzxl2337  product_17
18          18  nzyrmuz5472  product_18
19          19  lveybls2428  product_19
20          20  tytunmn5328  product_20
21          21  kugylnf4856  product_21
22          22  vztffho5389  product_22
23          23  hdwdrxo3159  product_23
24          24  zbzsrnq1960  product_24
25          25  xazzdde5157  product_25
26          26  audjgmq2873  product_26
27          27  mvwgwyh1698  product_27
28          28  boydosa4050  product_28
29          29  foklsur1276  product_29

In [27]:
 def get_sql():
        insert_invoice_fact = """insert into invoice_fact
                                (date_sk, customer_sk, product_sk, supplier_sk, is_discount, total_qty, total_price)
                                select t.date_sk, t.customer_sk, t.product_sk, t.supplier_sk, sum(t.is_discount)/count(*) as is_discount, sum(t.qty)  as total_qty, sum(t.price) as total_price
                                from
                                (
                                    select * from invoice_staging as invoice
                                    left join customer_dim as customer
                                    on invoice.customer_id = customer.customer_id
                                    left join product_dim as product
                                    on invoice.product_id = product.product_id
                                    left join supplier_dim as supplier
                                    on invoice.supplier_id = supplier.supplier_id
                                    left join date_dim as date1
                                    on invoice.invoice_date = date1.full_date

                                ) as t
                                group by t.date_sk,t.customer_sk, t.product_sk, t.supplier_sk"""

        return insert_invoice_fact

if __name__ == '__main__':
    sql = get_sql()
    print(sql)

insert into invoice_fact
                               (date_sk, customer_sk, product_sk, supplier_sk, is_discount, total_qty, total_price)
                               select t.date_sk, t.customer_sk, t.product_sk, t.supplier_sk, sum(t.is_discount)/count(*) as is_discount, sum(t.qty)  as total_qty, sum(t.price) as total_price
                               from
                               (
                                   select * from invoice_staging as invoice
                                   left join customer_dim as customer
                                   on invoice.customer_id = customer.customer_id
                                   left join product_dim as product
                                   on invoice.product_id = product.product_id
                                   left join supplier_dim as supplier
                                   on invoice.supplier_id = supplier.supplier_id
                                   left join date_dim as date1
                                   on invoice.invoice_date = date1.full_date

                               ) as t
                               group by t.date_sk,t.customer_sk, t.product_sk, t.supplier_sk

In [23]:
supplier_dim = pd.read_csv('dimension/supplier_dim.csv')
display(supplier_dim)
supplier_dim.to_sql('supplier_dim', conn, index=False, if_exists='replace')

,supplier_sk,supplier_id,address,city,state
0,0,xrxwaac1973,14404 Frederick Springs,Eduardohaven,Arizona
1,1,jwsinnx2648,08606 Ruiz Road,Erinside,Maine
2,2,utaxwrw5818,32686 Williams Pine,Robertsonburgh,Arizona
3,3,upvksna5523,62243 Shaffer Gardens Suite 827,Port Thomaston,Wisconsin
4,4,spzrhoe3599,79009 Natalie Plaza,Cervantesmouth,Montana
5,5,soswcvy1158,736 Kristin Club Suite 263,Daviesmouth,Vermont
6,6,cgnxqgb5476,57397 Powers Club Apt. 520,Mialand,California
7,7,tjoolkc3817,41282 Traci Glens,Diazburgh,Nevada
8,8,wawnwbo5987,01793 Martin Club Suite 165,New Robertofort,Minnesota
9,9,bjhxmod1222,422 Wilson Brooks,West Gabrielborough,Minnesota

In [19]:
# read custome_dim.csv  and load into customer_dim redshift table
customer_dim = pd.read_csv('dimension/customer_dim.csv')
# display(customer_dim)
customer_dim.to_sql('customer_dim', conn, index=False, if_exists='replace')

In [24]:
date_dim = pd.read_csv('dimension/date_dim.csv')
display(date_dim)
date_dim.to_sql('date_dim', conn, index=False, if_exists='replace')

    date_sk   full_date  weekday weekday_name  is_weekend
0         0  2022-01-01        5     Saturday        True
1         1  2022-01-02        6       Sunday        True
2         2  2022-01-03        0       Monday       False
3         3  2022-01-04        1      Tuesday       False
4         4  2022-01-05        2    Wednesday       False
5         5  2022-01-06        3     Thursday       False
6         6  2022-01-07        4       Friday       False
7         7  2022-01-08        5     Saturday        True
8         8  2022-01-09        6       Sunday        True
9         9  2022-01-10        0       Monday       False
10       10  2022-01-11        1      Tuesday       False
11       11  2022-01-12        2    Wednesday       False
12       12  2022-01-13        3     Thursday       False
13       13  2022-01-14        4       Friday       False
14       14  2022-01-15        5     Saturday        True
15       15  2022-01-16        6       Sunday        True
16       16  2022-01-17        0       Monday       False
17       17  2022-01-18        1      Tuesday       False
18       18  2022-01-19        2    Wednesday       False
19       19  2022-01-20        3     Thursday       False
20       20  2022-01-21        4       Friday       False
21       21  2022-01-22        5     Saturday        True
22       22  2022-01-23        6       Sunday        True
23       23  2022-01-24        0       Monday       False
24       24  2022-01-25        1      Tuesday       False
25       25  2022-01-26        2    Wednesday       False
26       26  2022-01-27        3     Thursday       False
27       27  2022-01-28        4       Friday       False
28       28  2022-01-29        5     Saturday        True
29       29  2022-01-30        6       Sunday        True
30       30  2022-01-31        0       Monday       False